<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">

</head>

<body>

  <div id="container">
    
    <div id="geral" style= "padding: 2%;  width:70%">
                <div class="BoasVindas" >
                         <section>

                             <div id="texto">
                                  <h1>Pesquisa de Satisfação</h1>
                                  <p>
                                    Seu feedback nos ajudará a te servir melhor.️
                                  </p>            
                             </div>

                              <div id="logo">
                                  <img src="../../../assets/adventech_logo.svg" alt="Logotipo da empresa">
                              </div>
                         </section>
                </div>
    </div>

    <div id="botao">
          <button type="button" class="btn btn-danger" routerLink="/user">Iniciar</button>
    </div>


  </div>

</body>
