
#geral{
    
    margin-top: -60px;
    margin-left: 10px;
    display: table;
    background-color: aqua;
    
}


#BoasVindas{
    padding-top: 40px;
    left: 20%;
    right: 20%;
    margin-top: 20%;
    background: yellow;
    align-items: center;
  
}

#logo {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  display: inline-block;
}

#texto{
    max-width: 55%;
    float: left;
    position: relative;
    display: inline;
    text-align: center;
    

    
}

h1{
    margin: 0 auto;
    font-family: Cookie;
    font-weight: normal;
    font-size: 300%;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.006em;
    background-color: brown;
    
    
    
}


p{
    
width: 80%;
height: 80%;
padding-left: 35px;
padding-top: 20%;
font-family: Abyssinica SIL;
font-size: 150%;
line-height: 30px;
text-align: center;
letter-spacing: 2px;
color: #212121;

}
   
